$text-color-29:#292929;
$hov-text-color-ba:#ba0000;
$border-color-29:#292929;
$hov-border-color-ba:#ba0000;
$text-color-96:#969696;
$border-color-96:#969696;
$bg-color-ba:#ba0000;
$bg-colo-29:#292929;
$text-color-f8:#f8f8f8;
$border-color-f8:#f8f8f8;
$text-color-59:#595959;
$text-color-36:#363636;